extends adminMenu.pug
append datos
  div.row.m-0.p-0
    div.col-12.mt-5.text-center
      div(id="alerta")
      button.btn.btn-outline-dark(data-toggle="modal" data-target="#nuevo") Añadir
  div.row.m-0.p-0
    div.col-12.mt-5.text-center
      table.table.table-hover.table-responsive-sm
        thead
          tr
            th(scope="col") Nombre
            th(scope="col") Productos
            th(scope="col") Ganancias
            th(scope="col") 
            th(scope="col") 
        each val in categorias
          tbody
            tr
              td(scope="row") #{val.nombre}
              td #{val.productos}
              td #{val.ganancias}
              td
                button.btn.btn-outline-dark.editar(data-toggle="modal" data-target="#editar",value=val.nombre) Editar
              td 
                button.btn.btn-dark.borrar(data-toggle="modal" data-target="#borrar",value=val.nombre) Borrar
  div.modal.fade(id="nuevo" tabindex="-1" role="dialog" aria-labelledby="nuevoTitle" aria-hidden="true")
    div.modal-dialog.modal-dialog-centered(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title(id="exampleModalLongTitle") Nueva categoría
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        div.modal-body
          h5 Nombre de la categoría: 
          input.form-control(type="text",id="nuevaCategoria")
        div.modal-footer
          button.btn.btn-outline-dark(type="button" data-dismiss="modal") Cerrar
          button.btn.btn-dark(type="button",id="guardarCategoria") Guardar
  div.modal.fade(id="borrar" tabindex="-1" role="dialog" aria-labelledby="borrarTitle" aria-hidden="true")
    div.modal-dialog.modal-dialog-centered(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title(id="exampleModalLongTitle") ¿Estás seguro de borrar la categoría?
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        div.modal-body
          p Los productos que contengan de esa categoría se mantendrán pero no tendrán ninguna categoría asignada y no se mostrará en la tienda
        div.modal-footer
          button.btn.btn-outline-dark(type="button" data-dismiss="modal") Cerrar
          button.btn.btn-dark(type="button",id="borrarCategoria") Borrar
  div.modal.fade(id="editar" tabindex="-1" role="dialog" aria-labelledby="editarTitle" aria-hidden="true")
    div.modal-dialog.modal-dialog-centered(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title(id="exampleModalLongTitle") Editar
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        div.modal-body
          h5 Nombre de la categoría: 
          input.form-control(type="text",id="editarInputCategoria")
        div.modal-footer
          button.btn.btn-outline-dark(type="button" data-dismiss="modal") Cerrar
          button.btn.btn-dark(type="button",id="editarCategoria") Editar
append script
  script(src="../javascript/admin/categorias.js")