extends adminMenu.pug
append datos
  if pedidos.length == 0
    div.mt-5.text-center
      h4 No existe ningun pedido
  div.row.m-0.p-0.mt-5.justify-content-around
    div.col-12.col-md-6.col-lg-3.mr-0.pr-0.text-right
      span Precio: 
      div.col-9.d-inline-block
        select.custom-select(name="precio" id="precio")
          option(value="-1") Todas
            each precio,key in precios
              if pre==key
                option(value=key selected)=precio
              else
                option(value=key)=precio
    div.col-12.col-md-6.col-lg-3.m-0.mt-3.mt-md-0
      div.input-group.mb-3
        input.form-control(type="search" placeholder="Id..." aria-label="" aria-describedby="basic-addon1" id="busquedaID")
        div.input-group-prepend
          button.btn.btn-outline-secondary(type="button",id="btnID")
            span.typcn.typcn-zoom.h-100.w-100
    div.col-12.col-md-6.col-lg-3.mr-0.pr-0.text-right
      span Estado: 
      div.col-8.d-inline-block
        select.custom-select(name="categoria" id="categoria")
          option(value="-1") Todas
            each estado,key in estados
              if est==key
                option(value=key selected)=estado
              else
                option(value=key)=estado
  div.mt-5.accordion(id="accordion2")
    each val in pedidos
      div.card
        div.card-header.border-bottom.border-dark(id=val._id)
          a.collapsed(data-toggle="collapse", href="#c"+val._id, aria-expanded="false" aria-controls="c"+val._id)
            h6.mb-0 ID: #{val._id}  
            div.row.justify-content-around
              div.col-4
              div.col-4
                button.mt-3.btn.btn-outline-dark(type="button") #{val.estado}
              div.col-4
                button.mt-3.btn.btn-danger(type="button") Anular
        if val._id==pedidos[0]._id
          div.collapse.show(id="c"+val._id, aria-labelledby=val._id, data-parent="#accordion2")
            div.card-body.p-0
              div.card.border-0
                div.card-body.border-0.row.align-items-center(id=val._id)
                  h5.text-center.w-100 Total: #{val.total}
                  table.table.table-hover.table-dark.table-responsive-sm
                    tbody.text-white
                      each val2 in val.contenido
                        tr
                          td.align-middle Producto: #{val2.producto}
                          td.align-middle Precio: #{val2.precio}
                          td.align-middle Cantidad: #{val2.cantidad}
        else
          div.collapse(id="c"+val._id, aria-labelledby=val._id, data-parent="#accordion2")
            div.card-body.p-0
                div.card.border-0
                  div.card-body.border-0.row.align-items-center(id=val._id)
                    h5.text-center.w-100 Total: #{val.total}
                    table.table.table-hover.table-dark.table-responsive-sm
                      tbody
                        each val2 in val.contenido
                          tr
                            td.align-middle Producto: #{val2.producto}
                            td.align-middle Precio: #{val2.precio}
                            td.align-middle Cantidad: #{val2.cantidad}
  div.row.m-0.mb-5.mt-5
    div.col-6
      a(id="atras0" href="./pedidos")
        button.btn.btn-outline-dark
          span.typcn.typcn-chevron-left
          span.typcn.typcn-chevron-left
      a(id="atras" href="./pedidos") 
        button.btn.btn-outline-dark
          span.typcn.typcn-chevron-left
    div.col-6
      a(id="siguiente" href="./pedidos")
        button.btn.btn-outline-dark
          span.typcn.typcn-chevron-right
append script
  script(src="../javascript/admin/pedidos.js")